<a href="https://colab.research.google.com/github/SokKanaTorajd/Bootcamp-DataMining-2/blob/main/Text_Classification_with_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline

import numpy as np
import pandas as pd

# Load Data

In [5]:
df = pd.read_csv('/content/preprocessed-news.csv')

In [6]:
df.head()

,judul,lemmatized,kategori,tanggal_upload,waktu_upload,link_berita
0,Indonesia Kini Punya Sertifikat Vaksin Interna...,indonesia sertifikat vaksin internasional akses,WIKEN,29/01/2022,22:03 WIB,https://www.kompas.com/wiken/read/2022/01/29/2...
1,"Resep Ayam Bakar Klaten, Aromanya Gurih karena...",resep ayam bakar klaten aroma gurih pakai santan,FOOD,29/01/2022,22:03 WIB,https://www.kompas.com/food/read/2022/01/29/22...
2,"FOTO: Setelah Tercemar Tumpahan Minyak, Pantai...",foto cemar tumpah minyak pantai thailand tutup,GLOBAL,29/01/2022,22:01 WIB,https://www.kompas.com/global/read/2022/01/29/...
3,"Resmi ke Juventus, Buffon Sandingkan Dusan Vla...",resmi juventus buffon sanding dus vlahovic mba...,BOLA,29/01/2022,22:00 WIB,https://bola.kompas.com/read/2022/01/29/220000...
4,6 Penyebab Vagina Gatal,sebab vagina gatal,HEALTH,29/01/2022,22:00 WIB,https://health.kompas.com/read/2022/01/29/2200...

In [ ]:
# check kolom kategori
categories = df['kategori'].unique()
categories

In [ ]:
categories = list(categories)
print(categories)
print(len(categories))

# Membagi data menjadi Train dataset dan Test dataset

In [8]:
# buat dataset baru yang terdiri dari kolom lemmatized dan kategori
new_df = df[['lemmatized', 'kategori']]
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3075 entries, 0 to 3074
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   lemmatized  3075 non-null   object
 1   kategori    3075 non-null   object
dtypes: object(2)
memory usage: 48.2+ KB

In [9]:
# membuat data train dan test
X = new_df['lemmatized']
y = new_df['kategori']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=23)

In [10]:
# memeriksa panjang data train 
print(len(X_train)) # feature
print(len(y_train)) # label

# memeriksa panjang data test
print(len(X_test))
print(len(y_test))

2767
2767
308
308

# Feature Extraction

In [11]:
# Feature Extraction with Count Vectorizer
count_vect = CountVectorizer()
X_train_cv = count_vect.fit_transform(X_train)

# transform count vectorized train data into TF-IDF
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_cv)

# Menentukan nilai k

In [24]:
# tentukan nilai k
# nilai default k=5. lihat dokumentasi KNeigborsClassifier di web scikit learn
# knn = KNeighborsClassifier(n_neighbors=5)

knn = KNeighborsClassifier(n_neighbors=4)

# Membuat Model

In [25]:
# menggunakan modul Pipeline untuk mempermudah proses
news_clf = Pipeline([
    ('vect', CountVectorizer()),
    ('tfidf', TfidfTransformer()),
    ('clf', knn),
])

# Fit data train ke pipeline
news_clf.fit(X_train, y_train)

Pipeline(steps=[('vect', CountVectorizer()), ('tfidf', TfidfTransformer()),
                ('clf', KNeighborsClassifier(n_neighbors=4))])

# Evaluasi Model

In [26]:
# predict data test
predicted = news_clf.predict(X_test)

# menghitung nilai akurasi berdasarkan test data dengan nilai k=4
print(f"Akurasi yang didapatkan senilai {np.mean(predicted==y_test)*100} %")

Akurasi yang didapatkan senilai 61.038961038961034 %

In [12]:
# predict data test
predicted = news_clf.predict(X_test)

# menghitung nilai akurasi berdasarkan test data dengan nilai k=5
print(f"Akurasi yang didapatkan senilai {np.mean(predicted==y_test)*100} %")

Akurasi yang didapatkan senilai 59.02439024390244 %

In [23]:
# predict data test
predicted = news_clf.predict(X_test)

# menghitung nilai akurasi berdasarkan test data dengan nilai k=6
print(f"Akurasi yang didapatkan senilai {np.mean(predicted==y_test)*100} %")

Akurasi yang didapatkan senilai 62.33766233766234 %

In [17]:
# predict data test
predicted = news_clf.predict(X_test)

# menghitung nilai akurasi berdasarkan test data dengan nilai k=7
print(f"Akurasi yang didapatkan senilai {np.mean(predicted==y_test)*100} %")

Akurasi yang didapatkan senilai 61.038961038961034 %

In [20]:
# predict data test
predicted = news_clf.predict(X_test)

# menghitung nilai akurasi berdasarkan test data dengan nilai k=8
print(f"Akurasi yang didapatkan senilai {np.mean(predicted==y_test)*100} %")

Akurasi yang didapatkan senilai 60.71428571428571 %

In [1]:
import numpy as np
rng = np.random.RandomState(1)
X = rng.randint(5, size=(6, 100))

In [2]:
X

array([[3, 4, 0, 1, 3, 0, 0, 1, 4, 4, 1, 2, 4, 2, 4, 3, 4, 2, 4, 2, 4, 1,
        1, 0, 1, 1, 1, 1, 0, 4, 1, 0, 0, 3, 2, 1, 0, 3, 1, 1, 3, 4, 0, 1,
        3, 4, 2, 4, 0, 3, 1, 2, 0, 4, 1, 2, 2, 1, 0, 1, 3, 4, 3, 1, 3, 0,
        0, 2, 2, 1, 3, 4, 2, 0, 0, 1, 1, 3, 0, 0, 4, 2, 4, 3, 3, 0, 3, 4,
        3, 4, 4, 4, 1, 0, 4, 2, 0, 2, 4, 1],
       [1, 0, 2, 4, 4, 0, 4, 1, 4, 1, 0, 2, 3, 1, 2, 4, 4, 2, 2, 0, 1, 2,
        2, 0, 1, 2, 4, 0, 1, 2, 1, 4, 2, 0, 0, 1, 0, 1, 3, 1, 1, 4, 4, 3,
        0, 3, 0, 3, 1, 2, 4, 0, 0, 3, 1, 1, 0, 0, 4, 2, 3, 4, 2, 0, 3, 3,
        1, 2, 4, 3, 0, 0, 4, 2, 4, 2, 0, 3, 0, 0, 4, 2, 1, 0, 4, 3, 0, 1,
        2, 4, 4, 3, 3, 3, 3, 2, 3, 3, 4, 3],
       [2, 4, 4, 0, 3, 3, 0, 3, 1, 0, 2, 2, 2, 0, 2, 1, 4, 0, 4, 4, 1, 3,
        1, 4, 1, 2, 1, 0, 0, 2, 4, 1, 0, 0, 3, 1, 0, 4, 3, 2, 3, 4, 4, 3,
        0, 0, 0, 4, 1, 4, 1, 2, 2, 4, 3, 4, 4, 0, 3, 2, 4, 3, 4, 2, 3, 0,
        2, 1, 3, 2, 0, 1, 4, 1, 3, 3, 1, 2, 0, 2, 4, 0, 2, 4, 3, 4, 3, 0,
        4, 2, 2, 4, 1, 2, 1, 1, 1, 0, 4, 4],
       [2, 2, 3, 1, 4, 0, 0, 3, 2, 4, 1, 3, 1, 1, 2, 4, 0, 3, 0, 4, 2, 3,
        1, 1, 4, 4, 0, 2, 1, 3, 0, 1, 0, 2, 2, 4, 3, 2, 2, 2, 0, 2, 0, 4,
        1, 0, 2, 3, 0, 4, 3, 3, 3, 0, 3, 1, 2, 0, 1, 4, 2, 3, 4, 4, 2, 1,
        2, 0, 3, 3, 2, 0, 0, 0, 0, 2, 4, 0, 4, 1, 2, 1, 2, 4, 1, 3, 1, 1,
        2, 4, 1, 0, 2, 1, 2, 0, 0, 3, 4, 1],
       [0, 4, 0, 3, 2, 4, 3, 2, 4, 2, 4, 0, 0, 4, 2, 2, 4, 2, 3, 0, 0, 4,
        3, 4, 3, 3, 4, 0, 3, 1, 4, 4, 3, 2, 2, 2, 2, 2, 0, 2, 1, 2, 3, 0,
        0, 1, 1, 3, 3, 3, 1, 3, 3, 3, 1, 3, 0, 4, 0, 2, 4, 4, 2, 0, 3, 2,
        4, 0, 4, 2, 3, 4, 2, 4, 1, 3, 4, 3, 0, 3, 0, 4, 3, 0, 3, 1, 4, 4,
        2, 2, 4, 2, 1, 2, 3, 1, 3, 3, 0, 4],
       [3, 3, 3, 3, 0, 2, 3, 1, 3, 2, 3, 2, 2, 0, 4, 0, 1, 3, 0, 0, 0, 1,
        2, 4, 4, 2, 0, 1, 0, 0, 2, 4, 3, 0, 2, 1, 3, 3, 1, 4, 4, 4, 0, 1,
        0, 1, 2, 2, 4, 2, 4, 0, 2, 4, 4, 1, 1, 1, 1, 4, 3, 4, 1, 1, 1, 2,
        4, 3, 2, 3, 3, 2, 3, 0, 2, 0, 1, 0, 0, 3, 4, 0, 0, 0, 0, 1, 0, 1,
        3, 3, 4, 0, 1, 0, 3, 2, 1, 1, 0, 0]])

In [3]:
l = [3, 4, 0, 1, 3, 0, 0, 1, 4, 4, 1, 2, 4, 2, 4, 3, 4, 2, 4, 2, 4, 1,
        1, 0, 1, 1, 1, 1, 0, 4, 1, 0, 0, 3, 2, 1, 0, 3, 1, 1, 3, 4, 0, 1,
        3, 4, 2, 4, 0, 3, 1, 2, 0, 4, 1, 2, 2, 1, 0, 1, 3, 4, 3, 1, 3, 0,
        0, 2, 2, 1, 3, 4, 2, 0, 0, 1, 1, 3, 0, 0, 4, 2, 4, 3, 3, 0, 3, 4,
        3, 4, 4, 4, 1, 0, 4, 2, 0, 2, 4, 1]
len(l)

100

# Text Classification with Naive Bayes

In [22]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline


# Load data
df = pd.read_csv('/content/preprocessed-news.csv')

# Split dataset
X_train, X_test, y_train, y_test = train_test_split(df['lemmatized'], 
                                                    df['kategori'], 
                                                    test_size=0.1, 
                                                    random_state=123)

# Build Pipeline
text_clf = Pipeline([
        ('vect', CountVectorizer()),
        ('tfidf', TfidfTransformer()),
        ('clf', MultinomialNB()),
])

# Build Classifier
text_clf.fit(X_train, y_train)

# predict test data
predicted = text_clf.predict(X_test)

# evaluate the classifier
print(f"Akurasi yang didapatkan senilai {np.mean(predicted==y_test)*100}")

Akurasi yang didapatkan senilai 47.07792207792208